.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  background-color: #e5c411;
  height: 10px;
  padding: 15px;
  color: white;
  margin-right: 50px;
}

.category {
  margin-left: 5px;
  margin-right: 5px;
}

.category-menu {
  margin-left: 30px;
  text-align: left;
}


.title {
  font-size: 20px;
  color: #222222;
}

.postTitle {
  text-align: left;
}

.categoryPosts {
  margin-left: 10px;
}
