.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header {
  background-color: #e5c411;
  height: 10px;
  padding: 15px;
  color: white;
  margin-right: 50px;
}

.category {
  margin-left: 5px;
  margin-right: 5px;
}

.category-menu {
  margin-left: 30px;
  text-align: left;
}


.title {
  font-size: 20px;
  color: #222222;
  text-decoration: none;
}

.postTitle {
  font-size: 18px;
  margin-right: 10px;
  text-align: left;
}

.showPostTitle {
  font-size: 18px;
  text-align: left;
  margin-left: 50px;
}

.showSubtext {
  font-size: 12px;
  text-align: left;
  padding-left: 50px;
}

.showPostBody {
  margin-left: 50px;
  text-align: left;
}

.bodyContainer {
  border: 1px solid;
  margin-left: 50px;
}

.addComment {
  margin-left: 3px;
}


.newCommentTextArea {
  width: 450px;
  height: 100px;
  margin-left: 50px;
}

.newCommentSubmit {
  margin-left: 5px;
  margin-top: 5px;
}

.newCommentAuthor {
  margin-left: 0px;
  margin-top: 5px;
}

.author {
  font-size: 16px;
  color: #008800;
}


.showAuthor {
  margin-left: 5px;
}

.posts {
  margin-top: 10px;
  margin-left: 20px;
}

.categoryPosts {
  margin-left: 10px;
}

.separator {
  margin-left: 50px;
}

.menu-actions {
  margin-left: 300px;
  text-align: right;
  color: #2e2e2e;
  font-size: 14px;
}

.sort-order {
  margin-left: 5px;
  font-size: 14px;
  color: #0074D9;
}

.subtext {
  font-size: 12px;
}

.commentSubtext {
  margin-left: 50px;
}

.commentText {
  margin-top: 5px;
  margin-left: 50px;
  text-align: left;
}

.editablePost {
  margin-left: 50px;
  margin-top: 10px;
}

.editablePostBody {
  margin-top: 5px;
  margin-left: 50px;
}



.post-body {
  width: 250px;
  height: 100px;
}
